

<h3 class="mb-0">My Lists</h3>
<%# <%= cl_image_tag("san_francisco.jpg",
      width: 400, height: 300, crop: :fill) %>
      <%= cl_image_tag("san_francisco.jpg") %>


  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4">
        <%= link_to list_path(list) do %>
          <div>
            <%= list.name %>
          </div>

          <%= image_tag cl_image_path(list.photo.key) %>
          <%# <%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path("cinema01.jpg") %> %>



      </div>


        <% end %>
      </div>
    <% end %>
  </div>
</div>

<h3><%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %></h3>
<h3><%= link_to "Home", "/" %></h3>
